:root {
    --header-height: 75px;
}

header {
    height: var(--header-height);
    transition: 0s;
}

header.active {
    background-color: var(--color-background-2);
}

nav {
    width: var(--width);
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo-container {
    height: 40px;
}

#logo {
    width: auto;
    height: 100%;
    border-radius: 0;
}

#nav-list {
    width: 100%;
    top: var(--header-height);
    left: 0;
    padding: 0 calc((100% - var(--width)) / 2) calc((100% - var(--width)) / 2) calc((100% - var(--width)) / 2);
    position: absolute;
    display: none;
    background-color: var(--color-background-2);
}

#nav-list.active {
    display: flex;
    flex-direction: column;
}

.nav-item {
    padding: 0;
    list-style-type: none;
    border-bottom: var(--border);
}

.nav-item:first-child {
    border-top: var(--border);
}

.nav-link {
    width: 100%;
    padding: 20px;
    font-size: 16px;
    text-align: center;
    color: var(--color-text-1);
}

.nav-link:hover,
.nav-link.active {
    color: var(--color-text-0);
}

.nav-link.profile {
    padding: 0 20px;
    gap: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-picture {
    width: auto;
    height: 40px;
    border-radius: 50%;
}

.profile-name {
    padding: 20px 0;
    max-width: 150px;
    display: block;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.nav-link.signin {
    margin-top: 10px;
    font-weight: 500;
    border-radius: 3px;
    color: var(--color-text-0);
    background-color: var(--color-purple-0);
}

.signin:hover {
    background-color: var(--color-purple-1);
}

#hamburger {
    padding: 15px;
    background: none;
}

@media (min-width: 768px) {
    header.active {
        background: none;
    }

    #nav-list {
        padding: 0;
        display: flex;
        flex-direction: row;
        width: fit-content;
        position: static;
        flex-direction: row;
        background: none;
    }

    #nav-list.active {
        flex-direction: row;
    }

    #hamburger {
        display: none;
    }

    .nav-item,
    .nav-item:first-child {
        border: none;
    }

    .nav-link {
        padding: 12px 20px;
    }

    .profile-name {
        padding: 15px 0;
    }

    .nav-link.signin {
        margin: 0;
    }
}
