table {
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
}

th,
td {
    padding: 20px 10px;
    font-size: 16px;
    text-overflow: ellipsis;
    overflow: hidden;
}

th {
    text-align: left;
    color: var(--color-text-0);
}

td {
    color: var(--color-text-1);
}

thead tr {
    background-color: var(--color-background-0);
}

tr:nth-child(2n) {
    background-color: var(--color-background-0);
}

@media (min-width: 768px) {
    table {
        width: 60%;
    }
}

