.loader-background {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-background-2);
}

.loader-container {
    gap: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loader-text {
    color: var(--color-text-1);
    text-align: center;
}
